<template>
  <div>
    <Header />
    <div class="body-content">
      <div class="homebox">
        <div class="video-box">
          <video id="video-background" autoplay loop muted>
            <source
              src="../../public/static/video/bgVideo.mp4"
              type="video/mp4"
            />
          </video>
          <div class="videoLine1"></div>
          <div class="videoLine2"></div>
          <div class="companyText">
            <h1>
              ORANGEGLOBAL<br />
              MEDIA
            </h1>
            <div class="box">
              <button class="btn" @click="Contact">
                Get Start
                <el-icon style="transform: rotate(90deg); margin-left: 10px"
                  ><Upload
                /></el-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="about-content" id="about-row">
          <div class="line1-bg">
            <div class="arrow-bottom"></div>
            <div class="dian1"></div>
            <div class="dian2"></div>
          </div>
          <div class="line2-bg"></div>
          <div class="oblong-bg"></div>
          <div class="line3-bg"></div>
          <div class="text-content">
            <h5>VERSATILE OVERSEAS GAME</h5>
            <h3>SQUAD LEADER</h3>
            <p>
              Founded in 2021<br />
              an overseas marketing advertising service company focusing on the
              game industry.<br />
              We are committed to providing support for Chinese game
              manufactures,<br />
              including professional diversified business and plans deeply
              rooted in local culture, helping the ninth art grow abroad.
            </p>
          </div>
          <div class="main-content">
            <div class="description-content">
              <h5>
                EVERY OVERSEAS GAME
                <el-icon
                  color="#00ffce"
                  size="14"
                  style="position: reactive; top: -10px"
                  ><Menu /></el-icon
                ><br />
                IS AN EMERGING HIGH-POTENTIAL ADC, <br />
                AND ORANGE GLOBAL MEDIA IS WILLING TO ACT AS THE <br />
                GAME'S “VERSATILE SQUAD LEADER”.
              </h5>
              <div class="bottom-text">
                <div class="setpsBox">
                  <div class="setp1"></div>
                  <div class="setp2"></div>
                  <div class="setp3"></div>
                </div>
                <div>
                  <p>
                    We can be as stable as a tank, providing all-round
                    protection and support
                  </p>
                  <p />

                  <p>
                    we can also be as careful as a support, providing key
                    assistance and<br />
                    guidance for the growth of the product at every step
                  </p>

                  <p>
                    We will take on an important supporting role to adapt to
                    different demand<br />
                    scenarios flexibly, fully supporting and accompanying the
                    growth of the<br />
                    product in the overseas market
                  </p>
                </div>
              </div>
            </div>
            <div class="img-box">
              <el-image
                style="width: 449px; height: 539px; border: 1px solid #00ffce"
                :src="indexImg"
              />
            </div>
          </div>
          <div class="case-studies">
            <div style="text-align: center; margin-bottom: 30px">
              <div class="title">
                <h3 class="title-text">CASE STUDIES</h3>
                <div class="icon"></div>
              </div>
            </div>
            <div class="carousel-content">
              <el-carousel
                height="270px"
                indicator-position="none"
                :autoplay="false"
              >
                <el-carousel-item
                  ref="carousel"
                  @click="next"
                  v-for="item in caseStudiesImgList"
                  :key="item"
                >
                  <div v-for="items in item" class="container">
                    <el-image
                      :key="items"
                      class="carousel-img"
                      :src="items.url"
                      fit="cover"
                    />
                  </div>
                </el-carousel-item>
              </el-carousel>
            </div>
          </div>
        </div>
        <div class="our-services" id="our-services-row">
          <div class="bg-box"></div>
          <div class="circle"></div>
          <div class="line-box"></div>
          <div style="text-align: center; margin-bottom: 30px">
            <div class="title">
              <h3 class="title-text">OUR SERVICES</h3>
              <div class="icon"></div>
            </div>
          </div>
          <el-carousel trigger="click" height="500px" arrow="never">
            <el-carousel-item>
              <div class="carousel-content">
                <el-image style="width: 400px; height: 253px" :src="manImg" />
                <el-image style="width: 400px; height: 253px" :src="fullImg" />
                <el-image style="width: 400px; height: 253px" :src="blackImg" />
                <div class="gradient-box">
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon>
                      GAMING GLOBAL CAMPAIGN
                    </h6>
                    <p>
                      Result-oriented global marketing strategies, creative
                      promotion strategies and project execution services based
                      on local market research and insights.
                    </p>
                  </div>
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon> INFLUENCER
                      MAEKETING
                    </h6>
                    <p>
                      Provides one-stop global influencer cooperation services
                      covering 27 regional languages and 100+ countries/regions,
                      from planning to execution and effect tracking.
                    </p>
                  </div>
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon> COMMUNITY
                      OPERATIONS
                    </h6>
                    <p>
                      Provide event planning and long-term operation services
                      for global mainstream media platforms/communities for
                      products, becoming the core position for accumulating and
                      activating players.
                    </p>
                  </div>
                </div>
              </div>
            </el-carousel-item>
            <el-carousel-item>
              <div class="carousel-content">
                <el-image
                  style="width: 400px; height: 253px"
                  :src="luminousImg"
                />
                <el-image
                  style="width: 400px; height: 253px"
                  :src="cartoonImg"
                />
                <el-image
                  style="width: 400px; height: 253px"
                  :src="futuriImg"
                />
                <div class="gradient-box">
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon>CREATIVE
                      PRODUCTION
                    </h6>
                    <p>
                      According to the content preferences of local user groups,
                      we produce various promotional materials, covering AE, PV,
                      UE4, live-action shooting and other businesses.
                    </p>
                  </div>
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon> LOCALIZED PR
                      SERVICES
                    </h6>
                    <p>
                      China Unicom local media provides PR services, covering
                      news/topic planning and other services, providing brands
                      with maximum local brand exposure and reputation
                      enhancement.
                    </p>
                  </div>
                  <div class="border-gradient">
                    <h6>
                      <el-icon color="#00ffce"><Menu /></el-icon> CELEBRITY
                      ENDORSEMENTS
                    </h6>
                    <p>
                      Provide globally influential celebrities to endorse
                      products, covering multiple offline and online channels,
                      assisting products in gaining massive exposure and
                      implanting them into users' minds.
                    </p>
                  </div>
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <OurClinets />
      </div>
    </div>
    <Footer />
    <Dialog :dialogVisible="dialogVisible" @close="close" />
  </div>
</template>

<script setup>
import { ref } from "vue";
import Header from "../../src/components/Header.vue";
import Footer from "../../src/components/Footer.vue";
import Dialog from "../../src/components/Dialog.vue";
import OurClinets from "../../src/components/OurClinets.vue";
import img from "../../public/static/image/logo.png";
import blackImg from "../../public/static/image/servicesimg/black-teen-smiling-girl-headset-playing-video-games-video-game-club-with-blue-red-illumination-keyboard-with-illumination.jpg";
import cartoonImg from "../../public/static/image/servicesimg/cartoon-woman-wearing-vr-glasses.jpg";
import fullImg from "../../public/static/image/servicesimg/full-shot-man-augmented-reality-technology.jpg";
import luminousImg from "../../public/static/image/servicesimg/luminous-metaverse-background.jpg";
import manImg from "../../public/static/image/servicesimg/man-neon-suit-sits-chair-with-neon-sign-that-says-word-it.jpg";
import futuriImg from "../../public/static/image/servicesimg/futurImg.jpg";
import caseStudiesImg1 from "../../public/static/image/caseStudiesImg/1.png";
import caseStudiesImg2 from "../../public/static/image/caseStudiesImg/2.png";
import caseStudiesImg3 from "../../public/static/image/caseStudiesImg/3.png";
import caseStudiesImg4 from "../../public/static/image/caseStudiesImg/4.png";
import caseStudiesImg5 from "../../public/static/image/caseStudiesImg/5.png";
import caseStudiesImg6 from "../../public/static/image/caseStudiesImg/6.png";
import caseStudiesImg7 from "../../public/static/image/caseStudiesImg/7.png";
import caseStudiesImg8 from "../../public/static/image/caseStudiesImg/8.png";
import caseStudiesImg9 from "../../public/static/image/caseStudiesImg/9.png";
import caseStudiesImg10 from "../../public/static/image/caseStudiesImg/10.png";
import indexImg from "../../public/static/image/indexImg.jpg";

const url = img;
const dialogVisible = ref(false);
function Contact() {
  dialogVisible.value = true;
}
const close = () => {
  dialogVisible.value = false;
};
const caseStudiesImgList = [
  [
    { url: caseStudiesImg1 },
    { url: caseStudiesImg2 },
    { url: caseStudiesImg3 },
    { url: caseStudiesImg4 },
  ],
  [
    { url: caseStudiesImg5 },
    { url: caseStudiesImg6 },
    { url: caseStudiesImg7 },
    { url: caseStudiesImg8 },
  ],
  [{ url: caseStudiesImg9 }, { url: caseStudiesImg10 }],
];
</script>
<style lang="scss">
.body-content {
  margin-top: 77px;
  position: relative;
  background: #000;
  .title {
    position: relative;
    display: inline-block;
    .title-text {
      color: #00ffce;
      font-size: 35px;
      line-height: 22px;
      font-family: "Galvji";
      display: inline-block;
    }
    .icon {
      position: absolute;
      top: -18px;
      right: -18px;
      width: 18px;
      height: 18px;
      background-image: url("../../public/static/image/bottomLeft.png");
    }
  }
  .video-box {
    position: relative;
    height: 923px;
    width: 100%;
    background-color: #102132;
    overflow: hidden;
    #video-background {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .videoLine1 {
      position: absolute;
      top: -30px;
      left: 0;
      height: 338px;
      width: 443px;
      background-image: url("../../public/static/image/videoLine1.png");
    }
    .videoLine2 {
      position: absolute;
      top: 443px;
      right: 0;
      height: 393px;
      width: 527px;
      background-image: url("../../public/static/image/vedioLine2.png");
    }
    .companyText {
      position: absolute;
      padding-top: 189px;
      width: 100%;
      h1 {
        font-size: 210px;
        font-family: "DINCondensed", DINCondensed;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        line-height: 200px;
        text-align: center;
      }
      // .box {
      //   width: 220px;
      //   height: 58px;
      //   // padding: 1px;
      //   background: linear-gradient(135deg, transparent 20px, #2baaca 0),
      //     linear-gradient(-45deg, transparent 10px, #2baaca 0);
      //   margin: 80px auto;
      // }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        display: relative;
        width: 220px;
        height: 58px;
        margin: 80px auto;
        font-size: 22px;
        font-family: Galvji;
        color: #00ffce;
        line-height: 26px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        cursor: pointer;
        width: 220px;
        height: 58px;
        clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0 20%);
        border: 1px solid #00ffce;

        &::before {
          content: " ";
          display: block;
          position: absolute;
          top: -18px;
          left: 0;

          width: 1px; /* 设置直线的宽度 */
          height: 58px; /* 设置直线的高度 */
          background-color: #00ffce;
          // background-image: linear-gradient(45deg, transparent 49.5%);
          transform: rotate(
            61deg
          ); /* 使用 rotate() 函数让元素旋转，这里是顺时针旋转45度 */
          z-index: 1000;
        }

        &::after {
          content: " ";
          display: block;
          position: absolute;
          bottom: -19px;
          right: 0;

          width: 2px; /* 设置直线的宽度 */
          height: 58px; /* 设置直线的高度 */
          background-color: #00ffce;
          // background-image: linear-gradient(45deg, transparent 49.5%);
          transform: rotate(
            63deg
          ); /* 使用 rotate() 函数让元素旋转，这里是顺时针旋转45度 */
          z-index: 1000;
        }
      }
      .btn:hover {
        background: #00ffce;
        color: #000;
      }
    }
  }
  .about-content {
    height: 1613px;
    width: 100%;
    position: relative;
    .line1-bg {
      position: absolute;
      top: -80px;
      left: 0;
      height: 471px;
      width: 371px;
      background-image: url("../../public/static/image/aboutLine1.png");
      .arrow-bottom {
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 40px;
        left: 48%;
        transform: translateX(-50%);
        background-image: url("../../public/static/image/arrowBottom.png");
      }
      .dian1,
      .dian2 {
        position: absolute;
        bottom: 300px;
        width: 5px;
        height: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #00ffce;
      }
      .dian2 {
        left: 45%;
        transform: translateX(-45%);
      }
    }
    .line1-bg::before,
    .line1-bg::after {
      content: "";
      position: absolute;
      bottom: 240px;
      width: 5px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      background: #00ffce;
    }
    .line1-bg::before {
      left: 45%;
      transform: translateX(-45%);
    }

    .about-content::before {
      left: 45%;
      transform: translateX(-45%);
    }
    .line2-bg {
      position: absolute;
      top: 113px;
      right: 0;
      height: 341px;
      width: 441px;
      background-image: url("../../public/static/image/aboutLine2.png");
    }
    .line3-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 699px;
      width: 907px;
      background-image: url("../../public/static/image/courLine.png");
      background-position: top;
      background-size: cover;
      overflow: hidden;
    }
    .oblong-bg {
      position: absolute;
      top: 643px;
      right: 50px;
      height: 673px;
      width: 673px;
      background-image: url("../../public/static/image/aboutOblong.png");
    }
    .text-content {
      padding-top: 136px;
      h5 {
        font-size: 20px;
        font-family: Galvji;
        color: #00ffce;
        line-height: 23px;
        text-align: center;
      }
      h3 {
        font-size: 73px;
        font-family: DS-Digital;
        font-weight: bold;
        color: #00ffce;
        text-align: center;
      }
      p {
        font-size: 16px;
        font-family: Galvji;
        color: #ffffff;
        line-height: 26px;
        text-align: center;
      }
    }
    .main-content {
      width: 1300px;
      margin: 200px auto 129px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .description-content {
        h5 {
          text-align: left;
          font-size: 26px;
          font-family: Galvji, Galvji;
          font-weight: bold;
          color: #00ffce;
          line-height: 40px;
        }
        p {
          font-size: 16px;
          font-family: Galvji;
          color: #ffffff;
          line-height: 26px;
          text-align: left;
          margin-bottom: 40px;
          margin-left: 10px;
        }
        .bottom-text {
          margin-top: 40px;
          display: flex;
          .setpsBox {
            .setp1 {
              width: 1px;
              height: 60px;
              background: #00ffce;
              position: relative;
              margin-top: 18px;
            }
            .setp1::before {
              content: "";
              position: absolute;
              width: 6px;
              height: 6px;
              border: 1px solid #00ffce;
              border-radius: 50%;
              top: -7px;
              left: -3px;
              font-size: 30px;
              color: #00ffce;
            }
            .setp2 {
              width: 1px;
              height: 85px;
              background: #00ffce;
              position: relative;
              margin-top: 6px;
            }
            .setp2::before {
              content: "";
              position: absolute;
              width: 6px;
              height: 6px;
              border: 1px solid #00ffce;
              border-radius: 50%;
              top: -7px;
              left: -3px;
              font-size: 30px;
              color: #00ffce;
            }
            .setp3 {
              width: 1px;
              height: 60px;
              background: #00ffce;
              position: relative;
              margin-top: 6px;
            }
            .setp3::before {
              content: "";
              position: absolute;
              width: 6px;
              height: 6px;
              border: 1px solid #00ffce;
              border-radius: 50%;
              top: -7px;
              left: -3px;
              font-size: 30px;
              color: #00ffce;
            }
          }
        }
      }
    }
  }
  .case-studies {
    width: 100%;
    height: 450px;
    .carousel-content {
      width: 1550px;
      height: 260px;
      margin: 0 auto;
      .el-carousel__arrow {
        color: #00ffce;
        font-size: 48px;
        background-color: rgba(173, 216, 230, 0);
        border-radius: 0;
      }
      .el-carousel__arrow--left {
        left: -30px;
        width: 100px;
        height: 50px;
      }
      .el-carousel__arrow--right {
        right: -40px;
        width: 100px;
        height: 50px;
      }
      .el-carousel__item {
        width: 1500px;
        height: 270px;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0) !important;
        margin: 0 30px;
        .container {
          width: 332px;
          height: 166px;
          margin: 0 10px;
          filter: grayscale(100%);
          transform-origin: center center;
          &:hover {
            filter: grayscale(0);
            border: 2px solid #00ffce;
            width: 415px;
            height: 207px;
            transition: all 0.3s ease-in-out; /* 添加过渡效果 */
          }
          .carousel-img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .our-services {
    position: relative;
    height: 760px;
    padding-top: 30px;
    .el-carousel__button {
      width: 88px;
    }
    .el-carousel__indicator--horizontal.is-active .el-carousel__button {
      background: #00ffce;
    }
    .carousel-content {
      width: 1200px;
      height: 440px;
      margin: 0 auto;
      color: #fff;
      font-size: 0;
      .gradient-box {
        display: flex;
      }
      .border-gradient {
        // display: inline-block;
        width: 400px;
        height: 187px;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, black, black, #00ffce, #00ffce)
          1;
        border-image-slice: 1; /* 可选：指定边框图像的切片 */
        border-image-width: 1; /* 可选：指定边框图像的宽度 */
        border-image-outset: 0; /* 可选：指定边框图像的偏移量 */
        h6 {
          margin: 24px 0 12px 25px;
          font-size: 20px;
          color: #00ffce;
          display: flex;
          align-items: center;
        }
        h6 :first-child {
          margin-right: 5px;
        }
        p {
          margin: 0 50px;
          font-size: 14px;
        }
      }
    }
    .bg-box {
      position: absolute;
      top: 0;
      left: 0;
      height: 394px;
      width: 100%;
      background-image: url("../../public/static/image/bg8.png");
    }
    .circle {
      position: absolute;
      top: 475px;
      left: 70px;
      width: 200px;
      height: 200px;
      background: radial-gradient(
        circle,
        rgba(0, 255, 206, 0.15),
        transparent 70%
      );
      border-radius: 50%;
    }
    .line-box {
      position: absolute;
      top: -85px;
      right: 0;
      width: 150px;
      height: 356px;
      background: url("../../public/static/image/line9.png") center;
    }
  }
}
</style>
